$white: rgb(255, 255, 255);
$background: rgba(248, 248, 248, 1);
$primary-text-clr: rgba(27, 28, 33, 1);
$secondary-text-clr: rgba(126, 126, 130, 1);
$button-clr: rgba(255, 62, 121, 1);
$border-clr: rgba(65, 246, 215, 1);
$border-clr-secondary: rgba(234, 234, 234, 1);


